@media (min-width: 600px) { 
  body{
      div.layout-component{
					&.drawer-open{
						header,.layout-content{
								margin-left: 320px;
								width: calc(100% - 320px);
						}
					}
          .layout-content{
            padding: 10px;
        	}
      }
  }
}