@import './App.medium-up.scss';

$primary-color: #673ab7;
$secondary-color: #00e5ff;//#eeff41;
$secondary-text-color: rgba(0, 0, 0, 0.87);
$semi-black: #4c4646;

.hidden{
    display: none !important;
}

body{
    height: 100vh;
    div.layout-component{
        .layout-content{
            padding: 10px;
        }
        header, .layout-content{
            transition: margin-left 225ms cubic-bezier(0, 0, 0.2, 1) 0ms, width 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
            width: 100%
        }
        header{
            .btn-logout{
                position: absolute;
                right: 5px;
            }
        }
        
    }
}

.flex-hbox{
    display: flex;
    flex-direction: column;
}
.flex-item{
    flex: 1;
}

.giant-progress-container-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .giant-progress-container{
        text-align: center;
    }    
}


div.drawer-paper{
    width: 320px;
}

.note-list-component{
    .search-input-wrapper{
        display: flex;
        padding-right: 10px;
        padding-left: 10px;
        .search-input{
            flex: 1;
        }
        .search-icon{
            height: unset;
            margin-right: 8px;
        }
    }
    .search-progress-complete{
        visibility: hidden;
    }
    .list-of-notes{
        .add-note-btn{
            background-color: $primary-color;
        }
        .list-item-note-selected{
            background-color: $secondary-color;
            & .note-item-text-selected > span{
                color: $secondary-text-color;
                font-weight: 500;
            }
        }
    }
}

.note-editor-component{
    .actions-wrapper{
        display: flex;
        flex-direction: row-reverse;
    }
    .title-wraper{
        .editor-save-progress{
            width: 40px;
            height: 40px;
            position: absolute;
            right: 70px;
            pointer-events: none;            
        }
        display: flex;
        padding: 10px;
        .txt-title{
            flex:1;
        }
    }
    .quill-paper-wrapper{
        margin-top: 10px;
        .delete-btn{
            transform: translate3d(0px, -51px, 0px);
            right: 20px;
            position: absolute;
        }
    }
    .quill{
        border-color: transparent;
        .ql-snow{
            &.ql-toolbar{
                background-color: $secondary-color;
                .ql-picker-options{
                    background-color: $secondary-color;
                }
            }
            &.ql-container{
                border-color: transparent;
                color: white;
                .ql-editor{
                    min-height: 250px;
                    &.ql-blank::before{
                        color: gray;
                    }
                }         
            }
        }
    }
}


.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-stroke {
    stroke: $semi-black !important;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-label {
    color: $semi-black !important;
}