.gu-mirror{
  &.note-list-item{
    &:not(.list-btn-primary){
      background-color: #424242 !important;
    }
    opacity: 1;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
  }
}

.note-list-item{
    .note-drag-handle{
        padding: 5px 0px;
        touch-action: none;
        position: absolute;
        color: white;
        right: 0px;
        cursor: grab;
        text-align: center;
        width: 30px;
        margin-right: 10px;
        i{
          pointer-events: none;
        }
    }
}